:root {
    --primary-color: #41ba51;
    --secondary-color: #2b2b2b;    
    --tertiary-color: #d4e6ca;
}
/*UNIVERSAL SYTLES*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--tertiary-color);
}

h2 {
    font-size: 40px
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}
/* HEADER STYLES */
header {
    padding: 20px 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--primary-color);
}

header a{
    font-size: 30px;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0px 25px;
}
  
header nav ul {
    list-style: none;
    display: flex;
}
  
/*HERO STYLES*/
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    padding-top: 200px;
}

.hero p {
    color: white;
    padding: 20px 15px;
    display: flex;
    align-items: flex-end;
}

/*ABOUT ME STYLES*/
.about-me {
    padding: 100px 30px 70px 30px;
}

.about-me h2 {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px 10px 0;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 5px;
}

.about-me p {
    line-height: 37px;
    font-size: 20px;
}


.my-work {

}

/*FOOTER STYLES*/

footer {

}

footer h2 {
    display: flex;
    justify-content: center;
}

.contact-info {
    font-size: 20px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 40px;
}